/*style.css*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
/* navbar styling */

/* Lato classes */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* end of lato classes */

* {
    font-family: "Lato", sans-serif;
}

p {
    font-size: 16px;
}
.nav-links {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009476;
    top: 0;
    padding: 10px 40px;
    z-index: 9;
}

.nav-links, .nav-menu-mobile {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.nav-links ul {
    display: flex;
    align-items: center;
    gap: 25px;

}

.nav-links ul li {
    list-style-type: none;

}

.link-item a {
    display: flex;
    align-items: center;
    gap: 8px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #eeba0bff;
}

a:hover {
    text-decoration: underline;
}

.nav-cta {
    display: flex;
    align-items: center;
}

img.logo {
    width: 100px;
}

#mobile-menu {
    display:none;
}

.nav-menu-mobile {
    position: sticky;
    top: 90px;
    display: none; /* Initially hide the mobile menu */
    background-color: #009476; /* Background color */
    padding: 10px; /* Padding around menu items */
    list-style-type: none; /* Remove bullet points from list items */
    text-align: center; /* Center-align menu items */
}

.nav-menu-mobile li {
    margin: 10px 0; /* Spacing between menu items */
}

.nav-menu-mobile a {
    text-decoration: none;
    color: #eeba0bff; /* Link text color */
    font-weight: bold;
    font-size: 18px; /* Font size */
}

.nav-menu-mobile a:hover {
    text-decoration: underline; /* Underline on hover */
}
/*******************************************/
/*************** mobile menu ***************/
/*******************************************/
#mobile-menu-list.show {
    display: none;
}
.nav-menu-mobile  {
    display: none;
}

@media screen and (max-width: 999px) {
#mobile-menu-list.show {
    display: flex;
}

    #mobile-menu {
        display: flex;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    #mobile-menu-list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        opacity: .9;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        z-index: 1;
    }

    #mobile-menu-list svg {
        height: 28px;
        margin-bottom: -6px;
    }

    .show-menu {
        display: flex;
    }

    .nav-menu-mobile ul li {
        list-style-type: none;
    }

    ul.nav-menu-mobile {
        display:none;
        margin: 0;
    }

    nav.nav-menu {
        flex-wrap: wrap;
    }

    .nav-links {
        flex-wrap: wrap;
        padding: 10px 20px  ;
    }

    ul.nav-menu {
        display: none;
    }

    .nav-links ul {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .nav-links {
        padding: 10px;
    }
}
/***********************************************/
/*************** mobile menu end ***************/
/***********************************************/


/******************************************/
/*************** CTA button ***************/
/******************************************/
a.hero-cta-button {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(240, 255, 66);
    background-color: rgb(55, 146, 55);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: 3px solid transparent;
    overflow: hidden;
}

a.hero-cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 120%; /* Adjust the width to make the element smaller */
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), transparent);
  filter: blur(13px); /* Apply a slight blur to the gradient */
  animation: shinyEffect 3s linear infinite;
}

@keyframes shinyEffect {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}


a.hero-cta-button:hover {
    text-decoration: none;
    border: 3px solid rgb(240, 255, 66);
}
/* CTA Button end */

            
        
.hero-container {
    display: flex;
    background-image: url(assets/lady-with-wheelbarrow.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 60px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(255 ,255 ,255 , .2);
    padding: 5px 10px;
    border-radius: 28px;
}

h1.hero-text__headline{
    color: rgb(255, 66, 66);
/*    text-stroke: 2px #000;*/
/*    -webkit-text-stroke: 2px #000;*/
}

/******************************************************************/
/************************* Homepage Events  ***********************/
/******************************************************************/
.events {
    background-color: #98d3f3;
}
.events>h2 {
    text-align: center;
}

.event{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 66px 0;
}

.event>h3,
.event>h4 {
    margin: 0;
}
.event__red-title--large,
.event__red-title,
.event__red-title--small
{
    color: #e34f1f;
}
.event__red-title--large{
    font-size: 54px;
    padding-bottom: 66px;
}
.event__green-title--large{
    font-size:80px;
    color: #006639;
    padding-bottom: 50px;
}
.event__red-title{
    font-size: 36px;
}
.event__times,
.event__features,
.event__fun{
    color: #1f1d1e;
}
.event__features{

}
.event__fun{

}
.event__red-title--small{

}

@media screen and (max-width: 767px) {

    .event{
        padding: 66px 0;
    }

 
    .event__red-title--large{
        font-size: 48px;
        padding-bottom: 66px;
    }
    .event__green-title--large{
        font-size:56px;
        color: #006639;
        padding-bottom: 50px;
    }
    .event__red-title{
        font-size: 32px;
    }
    .event__times,
    .event__features,
    .event__fun{
        color: #1f1d1e;
    }
    
        
}

@media screen and (max-width: 480px) {

    .event{
        padding: 66px 0;
    }

 
    .event__red-title--large{
        font-size: 36px;
        padding-bottom: 66px;
    }
    .event__green-title--large{
        font-size:48px;
        color: #006639;
        padding-bottom: 50px;
    }
    .event__red-title{
        font-size: 30px;
    }
/******************************************************************/
/***************************Application ***************************/
/******************************************************************/

.application {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 90px);
}

.application h1 {
    font-size: 48px;
    
}

.application p {
    letter-spacing: 1px;
    line-height: 1.5;
}
/*************************************************************/
/************************ newsletter *************************/
/*************************************************************/
.newsletter {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.newsletter h1 {
    font-size: 48px;
}
.newsletter__heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    margin: 60px auto;
}

.newsletter__heading img {
    max-height: 100px;
}
.newsletter__address {
    text-align: center;
    font-style: italic;
    font-weight: 900;
    border: 2px solid black;
    padding: 20px 150px;
}
.newsletter__body {
    font-size: 20px;
    line-height: 1.5;
}

.newsletter__body-main{
    border: 2px solid black;
    padding: 20px 40px;
}
.newsletter__body-title{}
.newsletter__body-subtitle {}
.newsletter__body-text {
    letter-spacing: 1px;
}

@media screen and (max-width: 999px) {
    .newsletter__address{
        padding: 20px 50px;
    }
}
@media screen and (max-width: 767px) {
    .newsletter__heading {
        flex-direction: column;
        gap: 20px;
        margin: 40px auto;
    }
    .newsletter__address{
        padding: 20px;
    }
}

/*************************************************************/
/*********************** about section ***********************/
/*************************************************************/

.about__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    text-transform: capitalize;
    padding: 40px;
/*    background-color: #f6f6f6;*/
}

.about__col-left {
    display: flex;
    flex-direction: column;
    align-self: baseline;
}

.about__contact {
    display: flex;
    flex-direction: column;
}


.about__contact ul {
    padding-left: 10px;
    margin: 0;
}

.about__col-right {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.google-map {
     padding-bottom: 50%;
     position: relative;
     min-width: 70vw;
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}

@media  screen and (max-width: 999px) {
    .about__grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about__contact {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        padding-bottom: 30px;
    }

    .google-map {
        min-width: 92vw;
        padding-bottom: 100%;
    }

}


/*****************************************************/
/*********************** Rules ***********************/
/*****************************************************/
.rules {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}
.custom-ordered-list {
  list-style-type: none;
  counter-reset: my-counter;
}

.custom-ordered-list li {
  counter-increment: my-counter;
  position: relative;
  display: flex;
  border-radius: 15px;
  background-color: #f4e409;
  color: #a63c06ff;
  margin-bottom: 10px;
  padding: 5px 5px 5px 45px;

}

.custom-ordered-list li::before {
  content: counter(my-counter);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px; /* Adjust the width of the marker */
  height: 20px; /* Adjust the height of the marker */
  background-color: #eeba0b; /* Your desired background color */
  border-radius: 50%; /* Create a circular marker */
  text-align: center;
  line-height: 20px; /* Vertically center the marker content */
  font-weight: bold;
  color: #009476; /* Marker text color */
  padding: 3px;
}

.rules-item {
  display: flex;
  border-radius: 15px;
  background-color: #f4e409;
  color: #a63c06ff;
  margin-bottom: 5px;
  padding: 5px 5px 5px 45px;
}

@media screen and (max-width:767px) {
    .custom-ordered-list {
      padding-inline-start: 20px;
    }
}

@media screen and (max-width:480px) {
    .custom-ordered-list {
      padding-inline-start: 10px;
    }
}

/**************************/
/********* Footer *********/
/**************************/

footer.footer {
    display: flex;
    align-items: center;
    background-color: #009476;
    padding: 20px;
}

img.monkey-logo {
    width: 26px;
    height: 26px;
}