@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

body,
html {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

nav {
    height: 8rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
    background-color: #82CD47;
    margin: 0;
}

.nav-container {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #82CD47;
    align-items: center;
}

.navbar-custom {
    background-color: #82CD47;
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    gap: 0.8rem;
    position: relative;
    align-items: center;
    top: 8px;
}

.logo>span>img {
    width: 40px;
    height: 40px;
    font-family: "Montserrat";
}

.logo>span:nth-of-type(2) {
    font-size: 1.4rem;
}

nav ul {
    list-style: none;
    display: inline-flex;
    gap: 40px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: center;
    background-color: #82CD47;
}

main {
    background-color: #82CD47;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 10rem;
    margin-right: 10rem;
    margin-left: 10rem;
    width: 1000px;
}

main h1 {
    margin: 0px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    width: 10ch;
    font-size: 2rem;
    margin-bottom: 1rem;
}

main p {
    width: 38ch;
    color: #000000aa;
    text-align: justify;
}

main img {
    width: 300px;
    height: 300px;

}

main .main-content {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn {
    --color: #000;
    --color2: #82CD47;
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
    margin-top: 0.2rem;
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}


#mission {
    padding: 3vw 11vw;
}

#mission>h1,
#history h1 {
    font-family: 'Roboto', sans-serif;
}

#mission>p,
#history p {
    width: 50vw;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#history p {
    width: 50vw;
}

#history {
    position: absolute;
    left: 40%;
    right: 1px;
    display: inline-block;
}

.slide-bottom {
    -webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

.slide-in-left {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1501px) {
    main img {
        display: none;
    }

    main {
        padding: 10rem;
        justify-content: center;

    }
}

@media (max-width: 997px) {
    .navbar {
        padding: 4rem 2rem;
    }
}