/*yellow-brown.css*/
/* CSS HEX */
--aureolin: #f4e409ff;
--saffron: #eeba0bff;
--ochre: #c36f09ff;
--brown: #a63c06ff;
--blood-red: #710000ff;

/* CSS HSL */
--aureolin: hsla(56, 93%, 50%, 1);
--saffron: hsla(46, 91%, 49%, 1);
--ochre: hsla(33, 91%, 40%, 1);
--brown: hsla(20, 93%, 34%, 1);
--blood-red: hsla(0, 100%, 22%, 1);

/* SCSS HEX */
$aureolin: #f4e409ff;
$saffron: #eeba0bff;
$ochre: #c36f09ff;
$brown: #a63c06ff;
$blood-red: #710000ff;

/* SCSS HSL */
$aureolin: hsla(56, 93%, 50%, 1);
$saffron: hsla(46, 91%, 49%, 1);
$ochre: hsla(33, 91%, 40%, 1);
$brown: hsla(20, 93%, 34%, 1);
$blood-red: hsla(0, 100%, 22%, 1);

/* SCSS RGB */
$aureolin: rgba(244, 228, 9, 1);
$saffron: rgba(238, 186, 11, 1);
$ochre: rgba(195, 111, 9, 1);
$brown: rgba(166, 60, 6, 1);
$blood-red: rgba(113, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-right: linear-gradient(90deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-bottom: linear-gradient(180deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-left: linear-gradient(270deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-top-right: linear-gradient(45deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-bottom-right: linear-gradient(135deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-top-left: linear-gradient(225deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-bottom-left: linear-gradient(315deg, #f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);
$gradient-radial: radial-gradient(#f4e409ff, #eeba0bff, #c36f09ff, #a63c06ff, #710000ff);